<!DOCTYPE html>
<html lang="en">
<%- include('partials/intro') %> 
  <%- include('partials/navbar') %> 
  <h1>OOOPS! SOMeTHING WENT WRONG! </h1>
  <h2>No <%= subreddit %> found</h2>
  
<%- include('partials/footer') %> 