<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Express Demo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/random">Random</a>
          <a class="nav-link" href="/r/soccer">Soccer</a>
          <a class="nav-link" href="/r/chickens">Chickens</a>
          <a class="nav-link" href="/r/mightyharvest">Mighty Harvest</a>
         
        </div>
      </div>
    </div>
  </nav>
  <h1>The home page</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto quasi numquam cum illo optio assumenda impedit! Ullam neque quos itaque, corrupti molestias incidunt non, ducimus rerum odit doloremque repudiandae laboriosam?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque perferendis aliquam possimus quidem, laudantium alias veniam fuga consequatur, reprehenderit earum rerum dicta dignissimos! Neque optio alias, placeat et quis eos. </p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quod provident vero beatae, explicabo non impedit ad nostrum eos quidem amet! Explicabo, perspiciatis distinctio. Quis iure accusantium blanditiis cupiditate sunt.</p>
<script src="/js/jquery-3.6.0.min.js"></script>
  
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>