<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>The home page</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto quasi numquam cum illo optio assumenda impedit! Ullam neque quos itaque, corrupti molestias incidunt non, ducimus rerum odit doloremque repudiandae laboriosam?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque perferendis aliquam possimus quidem, laudantium alias veniam fuga consequatur, reprehenderit earum rerum dicta dignissimos! Neque optio alias, placeat et quis eos. </p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quod provident vero beatae, explicabo non impedit ad nostrum eos quidem amet! Explicabo, perspiciatis distinctio. Quis iure accusantium blanditiis cupiditate sunt.</p>
</body>
</html>