<!DOCTYPE html>
<html lang="en">
<%- include('partials/intro') %> 
<%- include('partials/navbar') %> 
  <h1>The username list is:</h1>
  <ol>
    <% for( let user of users){ %>
      <li><b> <%= user %> </b></li>
      <% } %>  
  </ol>
  
<%- include('partials/footer') %> 