#button{
  border: 2px solid black;
  font-size: 0.7em;
  padding: 0.6em 1em;
  box-shadow: 0 2px 4px 0  rgb(102, 109, 110), 0 3px 5px 0   rgb(51, 52, 53);
  background-color: black;
  color: aliceblue;
  
}
h1{
  text-align: center;
}
section{
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

