body{
  background: #232323;
}
.square{
  width: 30%;
  padding-bottom: 30%;
  float:left;
  margin: 1.66%;
}
#container{
  max-width: 450px;
  margin: 0 auto;
}

h1{
  color: white;
  max-width: 32%;
  padding: 30px;
  margin-left: 20px; 
  margin-bottom:50px;
}

 
#stripe{
  background-color: grey;
  text-align: center;
  height:30px;
}
.selected {
  background: lightseagreen;
}