h1{
    color:#d5602d;
}
h2 {
    color:rgb(00, 200, 150);
    }
h3{
    color:rgba(25, 150, 249, .3);
    }
#one{
    color:rgba(207, 58, 27, .6);
    font-family:"Sofia";
    font-size:25px;
    }
 p{
    color:rgb(224, 123, 57);
    font-family: "Lobster";
    font-size:20px;
    margin: 25px;
}
body{
    background: url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-1.2.1&w=1000&q=80);
    background-size:cover;
    background-repeat:no-repeat;
    }

div{
    border:1px solid white;

    margin:25px 25px 80px 25px;
    background-color:pink;

}