#container{
  margin-left: 50px;
  width: 90%;
  height: 500px;
  background: #92FAEA;
  display: flex;
  flex-direction: row;

  justify-content: center;
  
}
#container div{
  width: 150px;
  height:150px;
  
}
div:nth-of-type(1){
  flex: 1 0 200px;
 
}
div:nth-of-type(5){
  flex: 3 2 300px;
  
}