#button{
  font-family: 'Roboto Mono', monospace;
  background: black;
  color: coral;
  border: 2px solid coral;
  padding: 1em 2em;
  font-size: 1em;
  transition: border-color 3s, color 3s, 1s, border-color 2s, translateY 3s;
}

body{
  background: black;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
#button:hover{
  border-color: rgb(9, 169, 209);
  color: rgb(239, 255, 13);
  transform: translateY(-0.10in);
  box-shadow: 0 2px 4px 0  rgb(9, 169, 209), 0 3px 5px 0   rgb(9, 169, 209);
}